<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-400"><p *ngIf="!hasId">Create Calendar</p><p *ngIf="hasId">Modify Calendar</p></h1>

<div>
    <form class="max-w-sm mx-auto" name="calendar" #calendarForm="ngForm">
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Calendar Name</label>
            <input type="text" [(ngModel)]="calendar.name" id="name" #name="ngModel" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name" required>
            <div [hidden]="name.valid || name.pristine" class="alert">
                Name must not be empty!
            </div>
        </div>
  
        <button type="submit" *ngIf="!hasId" (click)="saveCalendar()" [disabled]="!calendarForm.form.valid" class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">Submit</button>
        <button type="submit" *ngIf="hasId" (click)="updateCalendar()" [disabled]="!calendarForm.form.valid" class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">Update</button>
    </form>  
</div>
